
<h3>properties = [</h3>
<% @propertiesArray.each do |property| %>
  {
  property_id: <%= property.property_id %>,
  name: <%= property.name %>,
  email: <%= property.email %>,
  },
<% end %>
<h3>]</h3>
<%= @properties.inspect %>